/*Normalize*/
@import "modern-normalize.css";

:root {
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

/* Normalize END */

.container {
    min-height: 100vh;
    display: grid;
    grid-template: min-content 1fr / auto 1fr;
}

.sidebar,
.header,
.main {
    padding: 20px;
}

.circle-bg {
    border-radius: 50%;
    padding: 3px;
    display: flex;
    align-items: center;
}

.sidebar {
    grid-row: span 2;
    background-color: rgb(25 146 212);
    color: white;
    z-index: 1;
    padding-right: 80px;
}

.sidebar-container {
    display: grid;
    gap: 40px;
}

.sidebar-title {
    display: grid;
    align-items: center;
    grid-template-columns: min-content 1fr;
}

.sidebar svg {
    fill: white;
}

.sidebar-title .title-icon {
    width: 50px;
}

.sidebar-title .title {
    font-size: clamp(1rem, 1rem + 1vw, 2rem);
    font-weight: bold;
}

.sidebar ul {
    margin-left: 10%;
}

.sidebar .main-menu svg,
.sidebar .secondary-menu svg {
    width: 30px;
}

.sidebar ul li+li {
    margin-top: 20px;
}

.sidebar li {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 20px;
    font-weight: bold;
    font-size: 1.2rem;
}

.header {
    display: grid;
    grid-template: auto auto / 1fr;
    padding-left: 50px;
    padding-right: 50px;
    row-gap: 30px;
    position: relative;
    box-shadow: 0px 2px 10px 0px gray;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.header-top .search-icon,
.header-top .notifications-icon {
    max-height: 1rem;
}

.header-top input {
    margin-right: auto;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: rgb(226 232 240);
    width: clamp(10rem, 50%, 60rem);
    padding: 5px 15px;
}

.circle-bg.current-user {
    background-color: rgb(218, 192, 40);
}

.user-icon-small {
    height: 2rem;
}

.header-top .user-name-small {
    font-weight: bold;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom-left {
    display: grid;
    grid-template: 1fr 2fr / auto auto;
    align-items: center;
    column-gap: 10px;
    font-weight: bold;
}

.header-bottom-left .circle-bg {
    grid-row: span 2;
    height: 3rem;
    width: 3rem;
}


.header-bottom-left .user-intro {
    font-size: 0.7rem;
}

.header-bottom-left .user-name-large {
    font-size: large;
}

.header-bottom-right ul {
    display: flex;
    gap: 30px;
}

.header-bottom-right li {
    background-color: rgb(25 146 212);
    border-radius: 30px;
    padding: 8px 30px;
    color: white;
    font-weight: bold;
}

.main {
    display: grid;
    grid-template: auto 1fr / 2fr 1fr;
    gap: 20px;
    background-color: rgb(226 232 240);
}

.main h2 {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 15px;
}

.main>* {
    display: flex;
    flex-direction: column;
}

.main .projects {
    grid-row: span 2;
}

.main .project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    flex: 1;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}

.project-card {
    border-left: 10px solid orange;
}


.project-card .card-title {
    font-weight: bold;
}

.card p {
    color: rgb(97, 97, 97);
}

.announcements-card,
.trending-card {
    flex: 1;
}

.announcements ul,
.trending ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.announcements-card li+li {
    border-top: 1px solid rgba(165, 165, 165, 0.649);
    padding-top: 20px;
}

.announcements li h3 {
    font-weight: bold;
}

.card .trending-tag {
    color: revert;
}