/*Normalize*/
@import "modern-normalize.css";

:root {
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

/* Normalize END */

.container {
    min-height: 100vh;
    display: grid;
    grid-template: auto 1fr / 1fr 4fr;
}

.sidebar,
.header,
.main {
    padding: 20px;
}

.sidebar {
    grid-row: span 2;
    background-color: rgb(25 146 212);
    color: white;
}

.sidebar-container {
    display: grid;
    gap: 40px;
}

.sidebar-title {
    display: grid;
    align-items: center;
    grid-template-columns: min-content 1fr;
}

.sidebar svg {
    fill: white;
}

.sidebar-title .title-icon {
    width: 50px;
}

.sidebar-title .title {
    font-size: clamp(1rem, 1rem + 1vw, 2rem);
    font-weight: bold;
}

.sidebar .main-menu svg,
.sidebar .secondary-menu svg {
    width: 30px;
}

.sidebar ul li + li {
    margin-top: 20px;
}

.sidebar li {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 20px;
    font-weight: bold;
}

.header {
    display: grid;
    grid-template: auto auto / 1fr;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom-right ul {
    display: flex;
    gap: 30px;
}

.main {
    display: grid;
    grid-template: auto auto / 2fr 1fr;
    gap: 20px;
}

.main .projects {
    grid-row: span 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}